* {
  color: #dddddd; }

*::placeholder, [data-placeholder] {
  color: rgba(255, 255, 255, 0.2); }

*::selection {
  background: rgba(255, 255, 255, 0.1); }

body {
  background-color: #212121; }

div[data-title="close window"] {
  background-image: url("../img/cancelInvert.png"); }

input {
  color: #dddddd; }

.task_task input[type=checkbox] + label:before, .wrapper_task_task input[type=checkbox] + label:before, .wrapper_trash_columns_column_task_task input[type=checkbox] + label:before {
  background-image: url("../img/checkboxByListInvert.png"); }

.task_task input[type=checkbox]:checked + label:before, .wrapper_task_task input[type=checkbox]:checked + label:before, .wrapper_trash_columns_column_task_task input[type=checkbox]:checked + label:before {
  opacity: .2;
  background-image: url("../img/byListCheckedInvert.png"); }

.wrapper > * {
  background: #212121;
  border: 1px solid #626262; }

.wrapper_info_table_cap:not(:last-child) {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid; }

.wrapper_info_table span {
  color: #dddddd;
  background: rgba(255, 255, 255, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8); }

.wrapper_trash div[data-title="empty trash"] {
  background-image: url("../img/trashAllInvert.png"); }

.wrapper_trash_tasks_task {
  background-color: #303030;
  border: 0.5px solid rgba(255, 255, 255, 0.1); }
  .wrapper_trash_tasks_task_getBack {
    background-image: url("../img/getBackInvert.png"); }
  .wrapper_trash_tasks_task_removeItem {
    background-image: url("../img/trashInvert.png"); }
  .wrapper_trash_tasks_task_pin_pinned {
    background-image: url("../img/pinnedInvert.png"); }

.wrapper_task_title {
  background: transparent;
  border-right: 1.5px solid rgba(255, 255, 255, 0.1); }
  .wrapper_task_title:focus {
    border-right: 1.5px solid rgba(255, 255, 255, 0.2); }

.wrapper_task_task {
  color: #dddddd;
  border-right: 1.5px solid rgba(255, 255, 255, 0.1); }
  .wrapper_task_task div {
    margin: 2px 0; }
  .wrapper_task_task div:active {
    animation: closerHover .5s ease; }

@keyframes closerHover {
  0% {
    background-color: rgba(255, 255, 255, 0.2); }
  100% {
    background-color: transparent; } }

.wrapper_task_task:empty:before {
  color: rgba(255, 255, 255, 0.2); }

.wrapper_task_task:focus {
  border-right: 1.5px solid rgba(255, 255, 255, 0.2); }

.wrapper_task_menu_options > div[data-title="to save task"] {
  background-image: url("../img/saveInvert.png"); }

.wrapper_task_menu_options > div[data-title="to cancel task"] {
  background-image: url("../img/cancelInvert.png"); }

.wrapper_task_menu_options > div[data-title="to by list"] {
  background-image: url("../img/byListInvert.png"); }

.wrapper_task_menu_options > div[data-title="to not by list"] {
  background-image: url("../img/byListCheckedInvert.png"); }

.wrapper_task_menu_options > div[data-title="done task"] {
  background-image: url("../img/checkInvert.png"); }

.wrapper_task_menu_options > div[data-title="to pin task"] {
  background-image: url("../img/pinInvert.png"); }

.wrapper_task_menu_options > div[data-title="to unpin task"] {
  background-image: url("../img/pinnedInvert.png"); }

.wrapper_task_menu_options > div[data-title="to copy task"] {
  background-image: url("../img/pasteInvert.png"); }

.wrapper_task_menu_options > div[data-title="to apply color"] {
  background-image: url("../img/paintInvert.png"); }

.wrapper_task_menu_options > div[data-title="to delete task"] {
  background-image: url("../img/trashInvert.png"); }

.wrapper_task_menu_date:before {
  background-image: url("../img/editInvert.png"); }

.topBar {
  background-color: #212121;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1); }
  .topBar:hover {
    box-shadow: 0px 0px 7.5px rgba(255, 255, 255, 0.1); }
  .topBar_add {
    background-image: url("../img/addTaskInvert.png"); }
  .topBar_theme {
    background-image: url("../img/darkTheme.png"); }
  .topBar_info {
    background-image: url("../img/helpInvert.png"); }
  .topBar_deleteAll {
    opacity: .25;
    background-image: url("../img/checkedTrashAllInvert.png"); }
  .topBar_trash {
    opacity: .25;
    background-image: url("../img/trashAllInvert.png"); }
  .topBar_exit {
    background-image: url("../img/exitInvert.png"); }

.helpElement div {
  background-image: url("../img/emptyArrowInvert.png"); }

.tasks {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.task {
  background-color: #303030;
  border: 1px solid #626262; }
  .task .overButtons > div:nth-child(1) {
    background-image: url("../img/pasteInvert.png"); }
  .task .overButtons > div:nth-child(2) {
    background-image: url("../img/paintInvert.png"); }
  .task .overButtons > div:nth-child(3) {
    background-image: url("../img/trashInvert.png"); }
  .task .taskDivCheckBox input[type=checkbox] + label:before {
    background-image: url("../img/checkInvert.png"); }
  .task .taskDivCheckBox input[type=checkbox]:checked + label:before {
    background-image: url("../img/checkedInvert.png"); }
  .task .taskDivPin input[type=checkbox] + label:before {
    background-image: url("../img/pinInvert.png"); }
  .task .taskDivPin input[type=checkbox]:checked + label:before {
    background-image: url("../img/pinnedInvert.png"); }

.gettingColor {
  background-color: #212121;
  border: 0.5px solid #626262;
  box-shadow: 0px 0px 7.5px rgba(255, 255, 255, 0.1); }
  .gettingColor div {
    border: 1px solid rgba(255, 255, 255, 0.1); }
  .gettingColor div:hover {
    border: 1px solid rgba(255, 255, 255, 0.2); }

.getColor:hover .gettingColor {
  display: grid;
  left: 63px; }

.popUpNotify {
  background: #303030;
  border: 1px solid #626262;
  box-shadow: 0px 0px 7.5px rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.topBar > div:not(:last-child):hover, .overButtons > div:hover, .wrapper_task_menu_options > div:hover, .taskDivPin:hover, div[data-title="close window"]:hover, .wrapper_trash_tasks_task_getBack:hover, .wrapper_trash_tasks_task_removeItem:hover, div[data-title="empty trash"]:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.topBar > div:not(:last-child):active, .overButtons > div:active, .wrapper_task_menu_options > div:active, .taskDivPin:active, div[data-title="close window"]:active, .wrapper_trash_tasks_task_getBack:active, .wrapper_trash_tasks_task_removeItem:active, div[data-title="empty trash"]:active {
  background-color: rgba(255, 255, 255, 0.2); }

[data-title]:after {
  color: #444;
  background-image: -webkit-linear-gradient(top, #fff, #ddd); }
