* {
  margin: 0;
  box-sizing: border-box;
  outline: none; }

*::placeholder {
  color: rgba(0, 0, 0, 0.5); }

*::selection {
  background: rgba(0, 0, 0, 0.25); }

body {
  display: flex-start;
  box-sizing: border-box;
  font-size: .9em;
  animation: showUpTasks .25s ease-in-out;
  animation-fill-mode: both; }

@keyframes showUpTasks {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

input {
  cursor: pointer; }

input[type="text"] {
  background-color: transparent;
  border: 0px solid black;
  outline: none; }

input[type="checkbox"] {
  background-color: transparent;
  border: 0px solid black;
  outline: none; }

.mainDiv {
  background: white;
  width: auto;
  min-height: 55px;
  height: auto; }

.childMainDiv {
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  height: auto;
  display: flex;
  width: 100%; }

.childMainDivScroll {
  transition: 0.25s;
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px; }

.childMainDivScroll:hover {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.5); }

.createTask {
  transition: .1s;
  width: 50%;
  padding: 5px 15px;
  margin: 5px auto;
  color: grey;
  border-radius: 15px;
  line-height: 1.75;
  border: 0.75px solid rgba(0, 0, 0, 0.25); }
  .createTask:hover {
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25); }
  .createTask_common {
    outline: none;
    border: 0px;
    width: 100%;
    cursor: pointer; }
  .createTask_title {
    font-size: 1.5em;
    font-weight: bold; }
  .createTask_input {
    font-size: 1.25em;
    max-height: 200px;
    overflow: auto; }
  .createTask_input:empty:before {
    content: attr(data-placeholder); }

.topBar {
  display: flex;
  justify-content: center; }

.topBar > div {
  opacity: .25;
  margin: 5px 0;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 40px;
  height: 40px; }

.topBar > div:hover {
  background-color: rgba(0, 0, 0, 0.25); }

.topBar > div:active {
  background-color: rgba(0, 0, 0, 0.5); }

.topBar > div:nth-child(1) {
  background-image: url("../img/ctrlZ.png"); }

.topBar > div:nth-child(2) {
  background-image: url("../img/ctrlY.png"); }

.topBar > div:nth-child(3) {
  background-image: url("../img/trashAll.png"); }

.pinnedTasks {
  position: relative;
  transition: .5s all;
  padding: calc(5px * 2); }

.tasks {
  position: relative;
  transition: .5s all;
  padding: calc(5px * 2); }

.task {
  opacity: 1;
  background-color: white;
  position: absolute;
  cursor: pointer;
  transition: 0.25s all ease-out;
  padding: calc(5px * 2);
  padding-bottom: 40px;
  border-radius: 15px;
  min-height: 100px;
  width: 260px;
  margin: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.25); }
  .task:hover {
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25); }
  .task_title {
    font-size: 1.25em;
    white-space: normal;
    font-weight: 800;
    margin-bottom: calc(5px * 2);
    margin-right: calc(5px * 8);
    max-height: 42px;
    overflow: hidden;
    user-select: none; }
  .task_task {
    max-height: 250px;
    user-select: none;
    overflow-x: hidden; }
  .task .overButtons {
    display: none;
    position: absolute;
    bottom: 5px;
    width: 227px;
    height: 30px;
    justify-content: space-between; }
  .task .overButtons > div {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    width: 30px;
    height: 30px; }
  .task .overButtons > div:hover {
    background-color: rgba(0, 0, 0, 0.25); }
  .task .overButtons > div:active {
    background-color: rgba(0, 0, 0, 0.5); }
  .task .overButtons > div:nth-child(1) {
    background-image: url("../img/paste.png"); }
  .task .overButtons > div:nth-child(2) {
    background-image: url("../img/paint.png"); }
  .task .overButtons > div:nth-child(3) {
    background-image: url("../img/trash.png"); }

.task:hover .taskDivCheckBox {
  opacity: 1; }

.task:hover .taskDivPin {
  opacity: 1; }

.displayNone {
  display: none; }

.wrapper {
  display: none;
  position: absolute;
  z-index: 5;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transition: .5s; }
  .wrapper_closer {
    transition: 0.25s;
    position: relative;
    width: 650px;
    height: fit-content;
    min-height: 30%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 50px;
    opacity: 1;
    animation: popUpTask .25s forwards; }

@keyframes popUpTask {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .wrapper_closer_title {
      background: transparent;
      transition: 0.25s;
      padding-left: calc(5px * 2);
      font-weight: 800;
      font-size: 1.25em;
      width: 100%;
      margin-bottom: calc(5px * 2);
      border: 0px;
      user-select: none;
      border-right: 1.5px solid rgba(0, 0, 0, 0.25); }
    .wrapper_closer_title:focus {
      border-right: 1.5px solid rgba(0, 0, 0, 0.5); }
    .wrapper_closer_task {
      padding-left: calc(5px * 2);
      user-select: none;
      font-size: 1.1em;
      max-height: 70vh;
      overflow-y: auto;
      border-right: 1.5px solid rgba(0, 0, 0, 0.25); }
      .wrapper_closer_task div {
        position: relative; }
        .wrapper_closer_task div input[type=text] {
          margin-left: 26px;
          width: calc(100% - 26px);
          height: 20px; }
        .wrapper_closer_task div input[type=checkbox] {
          cursor: pointer;
          transition: 0.25s;
          position: absolute;
          top: 0;
          width: 20px;
          height: 20px; }
        .wrapper_closer_task div input[type=checkbox] + label:before {
          content: '';
          transition: .1s;
          display: block;
          background: white;
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background-image: url("../img/check.png");
          background-size: cover; }
        .wrapper_closer_task div input[type=checkbox]:checked + label:before {
          background-image: url("../img/checked.png");
          background-size: cover; }
    .wrapper_closer_task:empty:before {
      color: grey;
      content: attr(data-placeholder); }
    .wrapper_closer_task:focus {
      border-right: 1.5px solid rgba(0, 0, 0, 0.5); }
    .wrapper_closer_menu {
      width: 90%;
      position: absolute;
      margin: 5px 0;
      bottom: 0;
      display: flex;
      justify-content: space-between; }
      .wrapper_closer_menu_options {
        display: flex;
        justify-content: space-between; }
      .wrapper_closer_menu_options > div {
        cursor: pointer;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        width: 40px;
        height: 40px; }
      .wrapper_closer_menu_options > div:hover {
        background-color: rgba(0, 0, 0, 0.25); }
      .wrapper_closer_menu_options > div:active {
        background-color: rgba(0, 0, 0, 0.5); }
      .wrapper_closer_menu_options > div:nth-child(1) {
        background-image: url("../img/save.png"); }
      .wrapper_closer_menu_options > div:nth-child(2) {
        background-image: url("../img/cancel.png"); }
      .wrapper_closer_menu_options > div:nth-child(3) {
        background-image: url("../img/byList.png"); }
      .wrapper_closer_menu_options > div:nth-child(4) {
        background-image: url("../img/check.png"); }
      .wrapper_closer_menu_options > div:nth-child(5) {
        background-image: url("../img/pin.png"); }
      .wrapper_closer_menu_options > div:nth-child(6) {
        background-image: url("../img/paste.png"); }
      .wrapper_closer_menu_options > div:nth-child(7) {
        background-image: url("../img/paint.png"); }
      .wrapper_closer_menu_options > div:nth-child(8) {
        background-image: url("../img/trash.png"); }
      .wrapper_closer_menu_date {
        padding: 12px; }
      .wrapper_closer_menu_date:before {
        content: '';
        position: absolute;
        top: 0;
        margin-left: -40px;
        background-image: url("../img/edit.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px; }

.taskDivCheckBox {
  transition: 0.25s;
  opacity: 0;
  position: absolute;
  top: -9px;
  left: -9px; }
  .taskDivCheckBox input {
    cursor: pointer;
    transition: 0.25s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px; }
  .taskDivCheckBox input[type=checkbox] + label:before {
    content: '';
    transition: .1s;
    display: block;
    background: white;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-image: url("../img/check.png");
    background-size: cover; }
  .taskDivCheckBox input[type=checkbox]:checked + label:before {
    background-image: url("../img/checked.png");
    background-size: cover; }

.taskDivPin {
  transition: 0.25s;
  opacity: 1;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px; }
  .taskDivPin:hover {
    background-color: rgba(0, 0, 0, 0.25); }
  .taskDivPin:active {
    background-color: rgba(0, 0, 0, 0.5); }
  .taskDivPin input {
    cursor: pointer;
    transition: .1s;
    transition: 0.25s;
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center; }
  .taskDivPin input[type=checkbox] + label:before {
    transition: .1s;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    filter: greyscale();
    background-image: url("../img/pin.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center; }
  .taskDivPin input[type=checkbox]:checked + label:before {
    background-image: url("../img/pinned.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px transparent; }

.doneTask {
  opacity: .25;
  cursor: auto; }

.gettingColor {
  width: 100px;
  height: 100px;
  top: -95px;
  display: none;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  z-index: 7;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25); }
  .gettingColor div {
    border: 0.5px inset rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer; }
  .gettingColor div:hover {
    border: 1px inset rgba(0, 0, 0, 0.75); }

.getColor:hover .gettingColor {
  display: grid;
  left: 63px; }

.getColorWrapper:hover .gettingColor {
  display: grid;
  left: 210px; }

input[disabled] {
  opacity: .25; }

::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
  border-radius: 2px; }

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px; }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); }
