* {
  color: #111111; }

*::placeholder, [data-placeholder] {
  color: rgba(0, 0, 0, 0.5); }

*::selection {
  background: rgba(0, 0, 0, 0.25); }

body {
  background-color: #f5f5f5; }

div[data-title="close window"] {
  background-image: url("../img/cancel.png"); }

input {
  color: #111111; }

input[type=checkbox] + label:before {
  background-image: url("../img/checkboxByList.png"); }

input[type=checkbox]:checked + label:before {
  background-image: url("../img/byListChecked.png"); }

.wrapper > * {
  background: #f5f5f5;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5); }
.wrapper_info_table_cap:not(:last-child) {
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid; }
.wrapper_info_table span {
  color: #111111;
  background: #f5f5f5;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px grey; }
.wrapper_trash div[data-title="empty trash"] {
  background-image: url("../img/trashAll.png"); }
.wrapper_trash_tasks_task {
  background-color: #dcdcdc;
  border: 0.5px solid rgba(0, 0, 0, 0.25); }
  .wrapper_trash_tasks_task_getBack {
    background-image: url("../img/getBack.png"); }
  .wrapper_trash_tasks_task_removeItem {
    background-image: url("../img/trash.png"); }
  .wrapper_trash_tasks_task_pin_pinned {
    background-image: url("../img/pinned.png"); }
.wrapper_task_title {
  background: transparent;
  border-right: 1.5px solid rgba(0, 0, 0, 0.25); }
  .wrapper_task_title:focus {
    border-right: 1.5px solid rgba(0, 0, 0, 0.5); }
.wrapper_task_task {
  border-right: 1.5px solid rgba(0, 0, 0, 0.25); }
  .wrapper_task_task div {
    margin: 2px 0; }
  .wrapper_task_task div:active {
    animation: closerHover 0.5s ease; }
@keyframes closerHover {
  0% {
    background-color: rgba(0, 0, 0, 0.25); }
  100% {
    background-color: transparent; } }
.wrapper_task_task:empty:before {
  color: rgba(0, 0, 0, 0.5); }
.wrapper_task_task:focus {
  border-right: 1.5px solid rgba(0, 0, 0, 0.5); }
.wrapper_task_menu_options > div[data-title="to save task"] {
  background-image: url("../img/save.png"); }
.wrapper_task_menu_options > div[data-title="to cancel task"] {
  background-image: url("../img/cancel.png"); }
.wrapper_task_menu_options > div[data-title="to by list"] {
  background-image: url("../img/byList.png"); }
.wrapper_task_menu_options > div[data-title="to not by list"] {
  background-image: url("../img/byListChecked.png"); }
.wrapper_task_menu_options > div[data-title="done task"] {
  background-image: url("../img/check.png"); }
.wrapper_task_menu_options > div[data-title="to pin task"] {
  background-image: url("../img/pin.png"); }
.wrapper_task_menu_options > div[data-title="to unpin task"] {
  background-image: url("../img/pinned.png"); }
.wrapper_task_menu_options > div[data-title="to copy task"] {
  background-image: url("../img/paste.png"); }
.wrapper_task_menu_options > div[data-title="to apply color"] {
  background-image: url("../img/paint.png"); }
.wrapper_task_menu_options > div[data-title="to delete task"] {
  background-image: url("../img/trash.png"); }
.wrapper_task_menu_date:before {
  background-image: url("../img/edit.png"); }

.topBar {
  background-color: #f5f5f5;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25); }
  .topBar:hover {
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25); }
  .topBar_add {
    background-image: url("../img/addTask.png"); }
  .topBar_theme {
    background-image: url("../img/lightTheme.png"); }
  .topBar_info {
    background-image: url("../img/help.png"); }
  .topBar_deleteAll {
    opacity: 0.25;
    background-image: url("../img/checkedTrashAll.png"); }
  .topBar_trash {
    opacity: 0.25;
    background-image: url("../img/trashAll.png"); }
  .topBar_exit {
    background-image: url("../img/exit.png"); }

.helpElement div {
  background-image: url("../img/emptyArrow.png"); }

.tasks {
  border-top: 1px solid rgba(0, 0, 0, 0.25); }

.task {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.25); }
  .task:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }
  .task .overButtons > div:nth-child(1) {
    background-image: url("../img/paste.png"); }
  .task .overButtons > div:nth-child(2) {
    background-image: url("../img/paint.png"); }
  .task .overButtons > div:nth-child(3) {
    background-image: url("../img/trash.png"); }
  .task .taskDivCheckBox input[type=checkbox] + label:before {
    background-image: url("../img/check.png"); }
  .task .taskDivCheckBox input[type=checkbox]:checked + label:before {
    background-image: url("../img/checked.png"); }
  .task .taskDivPin input[type=checkbox] + label:before {
    background-image: url("../img/pin.png"); }
  .task .taskDivPin input[type=checkbox]:checked + label:before {
    background-image: url("../img/pinned.png"); }

.gettingColor {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25);
  border: 0.5px solid #dcdcdc; }
  .gettingColor div {
    border: 1px solid rgba(0, 0, 0, 0.25); }
  .gettingColor div:hover {
    border: 1px solid rgba(0, 0, 0, 0.5); }

.getColor:hover .gettingColor {
  display: grid;
  left: 63px; }

.popUpNotify {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.topBar > div:not(:last-child):hover, .overButtons > div:hover, .wrapper_task_menu_options > div:hover, .taskDivPin:hover, div[data-title="close window"]:hover, .wrapper_trash_tasks_task_getBack:hover, .wrapper_trash_tasks_task_removeItem:hover, div[data-title="empty trash"]:hover {
  background-color: rgba(0, 0, 0, 0.25); }
.topBar > div:not(:last-child):active, .overButtons > div:active, .wrapper_task_menu_options > div:active, .taskDivPin:active, div[data-title="close window"]:active, .wrapper_trash_tasks_task_getBack:active, .wrapper_trash_tasks_task_removeItem:active, div[data-title="empty trash"]:active {
  background-color: rgba(0, 0, 0, 0.5); }

[data-title]:after {
  color: #444;
  background-image: -webkit-linear-gradient(top, #fff, #ddd); }
